
/*seletor universal*/
* {
    border: 1px solid red;
}

/*seletor de texto*/
h1 {
    color: green;
}

/*seletor de classe*/
.verde {
    color: green;
}

p.verde {
    color: green;
}

/*seletor de id*/
#cabecalho {
    border: 1px solid blue;
}

/*seletor de filho*/
li>a {
    color: red;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*seletor de descendente*/
p a {
    color: greenyellow;
}

/*seletor de irmão adjacente*/
h1+p {
    color: blueviolet;
}

/*seletor de irmão geral*/
h2~p {
    color: pink;
}